* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

.border{
    position:absolute;
    background-color: rgb(59, 59, 59);
    opacity: 15%;
    display:flex;
    width: 100%;
    height: 13vh;
}

.borderline{
    position:absolute;
    background-color: rgb(0, 0, 0);
    display:flex;
    width: 100%;
    height: 0.2vh;
}
.container {
    display:flex;
    width: 100%;
    height: 13vh;
}

.container2 {
    display:flex;
    width: 100%;
    height: 87vh;
}
.column {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.column2 {
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 
    padding: 20px;
    color: white;
    font-size: 1.5em;
    text-align: left; 
}
p{
    margin-top: 20px;
}
/* Background colors for each column */
.waiting-list {
    background-color: #ff4d4d;
}

.in-process {
    background-color: #ffffff;
    color: #333;
}

.ready {
    background-color: #b3ffcc;
    color: #333;
}

/* Column titles styling */
.column h2 {
    font-size: 1.8em;
}
