<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Board</title>
    <link rel="stylesheet" href="../static/style.css">
    <div class="border"></div>
    <div class="container">
        <div class="column waiting-list">
            <h2>Waiting List</h2>
            
        </div>
        <div class="column in-process">
            <h2>In Process</h2>
            
        </div>
        <div class="column ready">
            <h2>Ready</h2>
            
        </div>
    </div>  
    <div class="borderline"></div>
</head>
<body>
    
    <div class="container2">
        <div class="column2 waiting-list">
        <p> blah test 1</p>
        </div>
    <div class="column2 in-process">
    <p> blah test 1</p>
        </div>
    <div class="column2 ready">
    <p> blah test 1</p>
    </div>
</div>
</body>
</html>
