<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>CreateOrder</title>
</head>
<body>
    <header>
        <div class="headerback">
            <img class="Logo" src="../static/images/Logo.png" alt="Logo">
            <a href="/menu" class="menu">
            <img class="menu" src="../static/images/menu1.jpg" alt="menu">
            </a>
        </div>
    </header>
    <main>
        <img class="cartmenu" src="../static/images/cartn.png" alt="cart_symbol">



    </main>

</body>
</html>