<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Home page</title>
</head>
<body id="homes">
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
    
    <header>
        <div class="headerback">
           
            <a href = "/" ><img class="Logo" src="../static/images/Logo.png" alt="Logo"> </a>
            <a href="/cart" class="cart-item">
                 <img class="cart" src="../static/images/cartn.png" alt="cart_symbol">
            </a>
            <span style="cursor: pointer" onclick = "openNav()"><img class="menu" src="../static/images/menu1.jpg" alt="menu">
            </span>
        </div>
    </header>
    <main>
        <aside class=""></aside>
        <p class="welcome">WELCOME TO MARIO AND LUIGI'S RESTAURANT</p>
        <div class="menubox-items">
            <!-- Link for Pizza's box -->
            <a href="/pizza" class="menu-item1">
                <div class="image-container">
                    <p class="image-text1">Pizza's</p>
                    <img class="pizzaimg" src="../static/images/pizza.png" alt="pizza">
                    <p class="image-text">Pizza's</p>
                </div>
            </a>
            <!-- Link for Beverages box -->
            <a href="/beverages" class="menu-item1">
                <div class="image-container">
                    <p class="image-text2">Beverages</p>
                    <img class="bevimg" src="../static/images/bev.png" alt="beverages">
                </div>
            </a>
        </div>
        <section>
            <p class="loc">Locations</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.425316331741!2d5.465901776511716!3d51.45034711486983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d9006c506acd%3A0x96bd53deaa27aa28!2spizzeria%20Mario%20and%20Luigi!5e0!3m2!1snl!2snl!4v1730369370402!5m2!1snl!2snl" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>Rating on Uber Eats</p>
            <img class="review" src="../static/images/reviewn.png" alt="review">

            <div class="middle">
            <p class="aboutus">About us</p>
            <p class="aboutmnl">Mario and Luigi's Pizzas is a small family-owned restaurant.
                Two brothers revive their Italian heritage and are determined
                to show the world what real Italian pizza should taste like.
            </p>
            </div>
        </section>
    </main>    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <label>Language</label>
        <select name="cars" id="cars">
          <option value="english">English</option>
          <option value="nethelands">Nethelands</option>
          <option value="bulgarian">Bulgarian</option>
          <option value="Papiamentu">Papiamentu</option>
        </select>
        <a href="#">Log in</a>
    </div>
    <footer>
        <p class="Social">Social Media</p>
        <p>FB: MarioNLuigi</p>
        <p>IG: @MarioNLuigi</p>
        <p>Contact us</p>
        <p>+31 88 515 8789</p>
        <p>marioandluigispizzas@gmail.com</p>
        <p>2024@ M&L EOOD</p>
    </footer>
</body>
</html>
