<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <div class="headerback">
            <img class="Logo" src="../static/images/Logo.png" alt="Logo">
            <img class="cart" src="../static/images/cartn.png" alt="cart_symbol">
            <img class="menu" src="../static/images/menu1.jpg" alt="menu">
        </div>
    </header>
    <main>
        <aside class=""></aside>
        <p class="welcome">WELCOME TO MARIO AND LUIGI'S RESTAURANT</p>
        <div class="menu-items">
            <!-- Link for Pizza's box -->
            <a href="/pizza" class="menu-item">
                <div class="image-container">
                    <p class="image-text">Pizza's</p>
                    <img class="pizzaimg" src="../static/images/pizza.png" alt="pizza">
                </div>
            </a>
            <!-- Link for Beverages box -->
            <a href="beverages.html" class="menu-item">
                <div class="image-container">
                    <p class="image-text">Beverages</p>
                    <img class="bevimg" src="../static/images/bev.png" alt="beverages">
                </div>
            </a>
        </div>
        <section>
            <p class="loc">Locations</p>
            <img src="../static/images/location.png" alt="location">
            <p>Rating on Uber Eats</p>
            <img class="review" src="../static/images/reviewn.png" alt="review">
            <p>About us</p>
            <p>Mario and Luigi's Pizzas is a small family-owned restaurant.
                Two brothers revive their Italian heritage and are determined
                to show the world what real Italian pizza should taste like.
            </p>
        </section>
    </main>    
    <footer>
        <p>Social Media</p>
        <p>FB: MarioNLuigi</p>
        <p>IG: @MarioNLuigi</p>
        <p>Contact us</p>
        <p>+31 88 515 8789</p>
        <p>marioandluigispizzas@gmail.com</p>
        <p>2024@ M&L EOOD</p>
    </footer>
</body>
</html>
