<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <title>Home page</title>
</head>
<body id="homes">
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
    
    <header>
        <div class="headerback">
           
            <a href = "/" ><img class="Logo" src="../static/images/Logo.png" alt="Logo"> </a>
            <a href="/cart" class="cart-item">
                 <img class="cart" src="../static/images/cartn.png" alt="cart_symbol">
            </a>
            <span style="cursor: pointer" onclick = "openNav()"><img class="menu" src="../static/images/menu1.jpg" alt="menu">
            </span>
        </div>
    </header>
    
    <main>
        <aside class=""></aside>
        <p class="welcome">WELCOME TO MARIO AND LUIGI'S RESTAURANT</p>
        <div class="menubox-items">
            <!-- Link for Pizza's box -->
            <a href="/pizza" class="menu-item1">
                <div class="image-container">
                    
                    <img class="pizzaimg" src="../static/images/pizza.png" alt="pizza">
                    <p class="image-text">Pizza's</p>
                </div>
            </a>
            <!-- Link for Beverages box -->
            <a href="/beverages" class="menu-item1">
                <div class="image-container">
                    
                    <img class="bevimg" src="../static/images/bev.png" alt="beverages">\
                    <p class="image-text">Beverages</p>
                </div>
            </a>
        </div>
        <section>
            <p class="loc">Locations</p>
            <img src="../static/images/location.png" alt="location">
            <p>Rating on Uber Eats</p>
            <img class="review" src="../static/images/reviewn.png" alt="review">

            <div class="middle">
            <p>About us</p>
            <p>Mario and Luigi's Pizzas is a small family-owned restaurant.
                Two brothers revive their Italian heritage and are determined
                to show the world what real Italian pizza should taste like.
            </p>
            </div>
        </section>
    </main>    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
    <footer>
        <p class="Social">Social Media</p>
        <p>FB: MarioNLuigi</p>
        <p>IG: @MarioNLuigi</p>
        <p>Contact us</p>
        <p>+31 88 515 8789</p>
        <p>marioandluigispizzas@gmail.com</p>
        <p>2024@ M&L EOOD</p>
    </footer>
</body>
</html>
