<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Home page</title>
</head>
<body>
    <header>
        <div class="colortop"></div>
        <div class="headerback">
            <img class="Logo" src="../static/images/Logo.png" alt="Logo">
            <img class="cart" src="../static/images/cart.jpg" alt="cart_symbol">
            <img class="menu" src="../static/images/menu1.jpg" alt="menu">
        </div>
        <div class="colorbot"></div>
    </header>
<main>
    <img class="family" src="../static/images/family.png" alt="family">
    <p class="welcome">WELCOME TO MARIO AND LUIGI'S RESTAURANT</p>
    <div class="menu-items">
        <div class="menu-item">
            <div class="image-container">
                <p class="image-text">Pizza's</p>
                <img class="pizzaimg" src="../static/images/pizza.png" alt="pizza">
            </div>
        </div>
        <div class="menu-item">
            <div class="image-container">
                <p class="image-text">Beverages</p>
                <img class="bevimg" src="../static/images/bev.png" alt="beverages">
            </div>
        </div>
    </div>
<section>
    <p class="loc">Locations</p>
    <img src="../static/images/location.png" alt="location">
    <p>Rating on Uber Eats</p>
    <img src="../static/images/review.jpg" alt="review">
    <p>About us</p>
    <p>Mario and Luigi's Pizzas is a small family-owned restaurant.
        Two brothers revive their Italian heritage and are determined
        to show the world what real Italian pizza should taste like.
    </p>
</section>
</main>    
    <footer>
        <p>Social Media</p>
        <p>FB: MarioNLuigi</p>
        <P>IG: @MarioNLuigi</P>
        <P>Contact us</P>
        <P>+31 88 515 8789</P>
        <P>marioandluigispizzas@gmail.com</P>
        <P>2024@ M&L EOOD</P>
    </footer>
</body>
</html>
