<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Dough</title>
</head>
<body>
    <header>
        <img src="../static/images/Logo.png" alt="Logo">
        <img src="../static/images/cart.jpg" alt="cart_symbol"> 
        <img src="../static/images/family.png" alt="family">
        <img src="" alt="">
    </header>
<main>
    <p>WELCOME TO MARIO AND LUIGI'S RESTAURANT</p>
    <P>Pizza's</P>
    <p>Beverages</p>
    <p>Locations</p>
    <img src="../static/images/location.png" alt="location">

</main>
    
   
    
</body>
</html>