<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Orders Status</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="border1"></div>
    <div class="container1">
        <div class="column1 waiting-list">
            <h2>Waiting List</h2>
        </div>
        <div class="column1 in-process">
            <h2>In Process</h2>
        </div>
        <div class="column1 ready">
            <h2>Ready</h2>
        </div>
    </div>
    <div class="borderline1"></div>
    <div class="container2">
        <div class="column2 waiting-list" id="waiting-list-items">
            {% for order in to_do_orders %}
                <p>Table: {{ order.table }}<br>
                   Products: {% for product in order.products %}{{ product.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
            {% endfor %}
        </div>

        <div class="column2 in-process" id="in-process-items">
            {% for order in cooking_orders %}
                <p>Table: {{ order.table }}<br>
                   Products: {% for product in order.products %}{{ product.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
            {% endfor %}
        </div>

        <div class="column2 ready" id="ready-items">
            {% for order in ready_to_serve_orders %}
                <p>Table: {{ order.table }}<br>
                   Products: {% for product in order.products %}{{ product.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
