<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pizza.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <header>
        <div class="headerback">
            <a href = "/" ><img class="Logo" src="../static/images/Logo.png" alt="Logo"></a>
            <a href="/cart" class="cart-item">
                <img class="cart" src="../static/images/cartn.png" alt="cart_symbol">
            </a>
            <a href="/pizza" class="menu">
                <img class="back" src="../static/images/arrow-back.jpg" alt="pizzas">
            </a>
        </div>
    </header>

    <h1>{{ pizza.name }}</h1>
    <div class="info-centered">
        <img class="pizza-info-image" src="{{ pizza.imageURL }}">
        <div class="infostyle"> <h2>Base : {{ pizza.base }}</h2>
        <h2>Crust : {{ pizza.crust }}</h2>
        <h2>Ingredients : </h2>
        <ul class="info-list-toppings">
            {% for topping in pizza.toppings %}
                <li>{{ topping.name }}</li>
            {% endfor %}
        </div>
        </ul>
    </div>

</body>
</html>